.choiceContainer {
  display: flex;
  justify-content: space-around;
}

.choiceLog {
  text-align: left;
  list-style-type: none;
}

.choiceKeyBox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

.testResultsContainer {
  // display: flex;
  // justify-content: space-between;
  list-style-type: none;
}
